<html>
<head>
    <title></title>

    <title>Hanson Photo Group: Campaign Page</title>
</head>

<body>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
	<style>
    body {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    }
    </style>

	
<p align="center"><img height="200" src="logo.jpg" style="padding:5px" /></p>
	

<p style="font-size:20px" align="center">Just Listed</p>
<p style="font-size:14px" align="center">_ADDRESS_<br/>
Seattle, WA</p>
<p style="font-size:16px" align="center">_HOUSEPRICE_</p>
	
<table align="center">
<tr>
	<td colspan="2"><img width="408px" src="webgallery/1005_1024.jpg" style="padding:2px" /></td>
</tr>
<tr>
	<td colspan="2"><img width="408px" src="webgallery/1002_1024.jpg" style="padding:2px" /></td>
</tr>
<tr>
	<td colspan="2"><img width="408px" src="webgallery/1001_1024.jpg" style="padding:2px" /></td>
</tr>
<tr>
	<td colspan="2"><img width="408px" src="webgallery/1004_1024.jpg" style="padding:2px" /></td>
</tr>
<tr>
	<td colspan="2"><img width="408px" src="webgallery/1003_1024.jpg" style="padding:2px" /></td>
</tr>
</table>

<p style="text-align:center">_BOXTEXT_</p>

<p style="font-size:smaller; text-align:center">
Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- 
<br/><br/>
Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- 
<br/><br/>
Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text -- Main Text 
<p>

<p style="font-size:16px" align="center">_MLS_</p>

<p align="center">
<b>
OPEN HOUSE<br/>
Someday xx/xx 2-4pm<br/>
</b>
</p>


<table align="center">
<tr>
	<td>
		<p align="center">Jane Orvis<br/>
		206-679-5901</p>
	</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td>
		<p align="center">Joe Flick</br>
		425-301-7569</p>
	</td>
	<td>
		<p align="center">Matt Mather<br/>
		310-600-0257</p>
	</td>
	<td>&nbsp;&nbsp;&nbsp;</td>
	<td>
		<p align="center">Mary Orvis</br>
		206-619-2000</p>
	</td>
</tr>
</table>

<p align="center">

Orvis and Orvis Real Estate, LLC<br/>
<a href="www.orvisandorvisrealestate.com">www.orvisandorvisrealestate.com</a></p>

<p align="center"><img height="100" src="logo.jpg" style="padding:5px" /></p>

</body>
</html>