<html>
<head>
    <title></title>

    <title>Hanson Photo Group: Campaign Page</title>
</head>

<body>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
	<style>
    body {
    //width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    }
    </style>

	
<p align="center"><img height="200" src="logo.jpg" style="padding:5px" /></p>
	

<p style="font-size:20px" align="center">Just Listed</p>
<p style="font-size:14px" align="center">_ADDRESS_<br/>
Seattle, WA</p>
<p style="font-size:16px" align="center">_HOUSEPRICE_</p>
	
<table align="center">
<tr>
	<td colspan="2"><img width="400px" src="webgallery/1001_1024.jpg" style="padding:5px" /></td>
</tr>
<tr>
	<td><img width="200px" src="webgallery/1005_1024.jpg" style="padding:5px" /></td>
	<td><img width="200px" src="webgallery/1006_1024.jpg" style="padding:5px" /></td>
</tr>
</table>

<p align="center">_BOXTEXT_</p>

<p style="font-size:smaller">
10 foot tall ceilings and a personal patio space overlooking the interior garden courtyard make this studio special.

Wonderfully appointed with Italian track lighting, remote controlled privacy shades, high-end closet systems and maple floors. Full kitchen with gas cooking. In unit laundry. Enjoy inside and out all year round with covered patio space. Parking in secure garage plus extra storage, this studio is comfortable & chic.

The Ellington is a great choice: well run board, no assessments, 24hr concierge service, gym, spa, club room and 2 guest suites. Walk to South Lake Union or downtown. Enjoy access to Pike Place Market and the Olympic Sculpture Park.
<p>

<p align="center"><a href="https://www.google.com/search?q=_ADDRESS_" target="_blank">
Listing Details
</a></p>
	

<p align="center"><a href="https://www.google.com/search?q=_MLS_" target="_blank">
_MLS_
</a></p>	
	
<p align="center">
OPEN HOUSES<br/>
Saturday 10/13 1-4pm<br/>
Sunday 10/14 2-5pm<br/>
Tuesday 10/16 11am-2pm<br/>
</p>

<table align="center">
<tr>
	<td><img width="200px" src="webgallery/1012_1024.jpg" style="padding:5px" /></td>
	<td><img width="200px" src="webgallery/1009_1024.jpg" style="padding:5px" /></td>
</tr>
<tr>
	<td colspan="2"><img width="400px" src="webgallery/1011_1024.jpg" style="padding:5px" /></td>
</tr>
</table>

<p>Jane Orvis<br/>
206 679-5901<br/>
Orvis and Orvis Real Estate, LLC<br/>
<a href="www.orvisandorvisrealestate.com">www.orvisandorvisrealestate.com</a></p>

<p><img height="100" src="logo.jpg" style="padding:5px" /></p>


	</body>
</html>