<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Northwest Home Photography</title>
</head>

<frameset rows=105,*">
  <frame src="banner.html" frameborder="0" scrolling="no" name="banner" id="banner" title="banner" marginwidth="0" marginheight="0" />
  <frame src="JPEG_1024/album/index.html" frameborder="0" scrolling="auto" name="main" id="main" title="main" marginwidth="0" marginheight="0" />
</frameset>

<noframes>
<body>
</body>
</noframes></html>

