<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>_JOB_NAME_: Download Page</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
<div id="header">
    <div id="nav-container">
<h1  style="font-size: large">Download Page</h1>
<hr/>

<h2>_JOB_NAME_, _DATE_</h2>
<p><a href="_FLICKR_"><img src="JPEG_1024/album/medium/0001.jpg" width="400"/>/<a></p>

<h2>Downloads</h2>
<p><a href="_URL__MLS_pics.zip">Download images 1024 pixels across</a></p>
<p><a href="_URL__fullsize_pics.zip">Download full size images</a></p>

<h2>Slideshow</h2>
<p><a href="_FLICKR_">Slideshow</a></p>

<h2>Invoice</h2>
<p><a href="invoice.php">Invoice</a></p>

</div>
</div>
</body>
</html>
