<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Northwest Home Photography: Download Page</title>
<link href="../style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
<div id="header">
<div id="nav-container">
<h1>Download Page</h1>
<hr/>
<h2>Photoshoot Info</h2>
<p>_ADDRESS_</p>
<p>Photos for _AGENT_, phone: _PHONE_, email: _EMAIL_</p>
<!--<p><a href="_FLICKR_"><img src="webgallery/album/medium/0001.jpg" width="400"/>/<a></p>-->
<p><img src="webgallery/1001_1024.jpg" height="270"/>
<img src="webgallery/1005_1024.jpg" height="270"/>
<img src="webgallery/1009_1024.jpg" height="270"/></p>

<h2>Downloads</h2>
<p><a href="MLS_pics.zip">Download photos for web use (medium pictures).</a></p>
<p><a href="fullsize_pics.zip">Download photos for printing flyers (big pictures)</a></p>

<p>
	<em>How do I get my pictures?</em>  
	<br/>Your pictures are packaged as a "ZIP" file. To get the pictures:  
	<br/>- Download by clicking one of the links above. 
	<br/>- Go to your Downloads folder, right-click the ZIP file you downloaded, and select "Extract All..."  
	<br/>Your pictures are ready to use!
</p>

<h2>All your pictures on one web page.</h2>
<p><a href="gallery.html">Gallery</a></p>

<h2>Download Invoice PDF</h2>
<p><a href="invoice.pdf">Invoice</a></p>
<!-- <p><a href="invoice.php">Invoice (simple text version)</a></p> -->

<!-- FLYER -->
<div id="flyer" style="visibility:hidden;">
<h2>Flyers</h2>
<p><a href="emailableFlyer.jpg">Emailable flyer</a></p>
<p><a href="printableFlyer.pdf">Printable flyer</a></p>
</div>

<p> </p><p> </p><p> </p>
</div>
</div>
</body>
</html>
