<html>
<head>
    <title></title>

    <title>Northwest Home Photography: Download Page</title>
</head>

<body>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <style>
    body {
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    }
    </style>

    <h1>Download Page - <a href="http://www.hansonphotogroup.com" style=
    "text-decoration:none;color:#000000">HansonPhotoGroup.com</a></h1>

    <table>
        <tr>
            <td><strong>Location:</strong> _ADDRESS_
            &nbsp;&nbsp;&nbsp;&nbsp;</td>

            <td><strong>Date:</strong> _DATE_</td>
        </tr>

        <tr>
            <td><strong>Photos for:</strong> _AGENT_
            &nbsp;&nbsp;&nbsp;&nbsp;</td>

            <td><strong>Email:</strong> _EMAIL_</td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="text-align:right">
                <a href="gallery.html"><img height="200" src=
                "webgallery/1001_1024.jpg" style="padding:5px" /></a>
            </td>

            <td style="text-align:left">
                <a href="gallery.html"><img height="200" src=
                "webgallery/1005_1024.jpg" style="padding:5px" /></a>
            </td>
        </tr>

        <tr>
            <td style="text-align:right">
                <a href="gallery.html"><img height="200" src=
                "webgallery/1006_1024.jpg" style="padding:5px" /></a>
            </td>

            <td style="text-align:left">
                <a href="gallery.html"><img height="200" src=
                "webgallery/1009_1024.jpg" style="padding:5px" /></a>
            </td>
        </tr>
    </table>

    <h2><em>&nbsp;&nbsp;How do I get my pictures?</em></h2><!--<blockquote>-->

    <ul>
        <li>Click one of the download links below.</li>

        <li>Go to your Downloads folder.</li>

        <li>Right-click the ZIP file you downloaded, and select "Extract
        All..."</li>
    </ul><!--</blockquote>-->

    <table>
	<tr>
	<td>
    <h2>&nbsp;&nbsp;Links</h2>
    <ul>
        <li>
            <a href="MLS_pics.zip">Download Pictures for Web Use</a>
        </li>

        <li>
            <a href="fullsize_pics.zip">Download Pictures for Print Use</a>
        </li>

        <li>
            <a href="gallery.html">Gallery</a>
        </li>

        <li>
            <a href="invoice.pdf">Invoice</a>
        </li>
</ul>
	</td>
	<td style="vertical-align:top;">
	    <!-- FLYER -->

    <div id="flyer" style="visibility:hidden;">
        <h2>&nbsp;&nbsp;Flyers</h2>

        <ul>
            <li>
                <a href="emailableFlyer.jpg">Flyer for Email</a>
            </li>

            <li>
                <a href="printableFlyer.pdf">Flyer for Printing</a>
            </li>
        </ul>
    </div>

	</td>
	</tr>
	</table>
</body>
</html>