<!DOCTYPE html>
<html>
<head>
    <title>_ADDRESS_</title>
</head>
<body style="
      background-color:white;
      margin-left:auto;
      margin-right:auto;
      width:70%;">
    <p>_ADDRESS_</p>
    <script type="javascript">
        document.write("address");
    </script>
    <p><img src="webgallery/1_1200.jpg"/></p>
    <p><img src="webgallery/2_1200.jpg"/></p>
    <p><img src="webgallery/3_1200.jpg"/></p>
    <p><img src="webgallery/4_1200.jpg"/></p>
    <p><img src="webgallery/5_1200.jpg"/></p>
    <p><img src="webgallery/6_1200.jpg"/></p>
    <p><img src="webgallery/7_1200.jpg"/></p>
    <p><img src="webgallery/8_1200.jpg"/></p>
    <p><img src="webgallery/9_1200.jpg"/></p>
    <p><img src="webgallery/10_1200.jpg"/></p>
    <p><img src="webgallery/11_1200.jpg"/></p>
    <p><img src="webgallery/12_1200.jpg"/></p>
    <p><img src="webgallery/13_1200.jpg"/></p>
    <p><img src="webgallery/14_1200.jpg"/></p>
    <p><img src="webgallery/15_1200.jpg"/></p>
    <p><img src="webgallery/16_1200.jpg"/></p>
    <p><img src="webgallery/17_1200.jpg"/></p>
    <p><img src="webgallery/18_1200.jpg"/></p>
</body>
</html>